{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Detalhes do Animal - {{ animal.name }}</title>
{% endblock %}

{% block body %}
<div class="details-container">

    <!-- Title -->
    <h1 class="details-title">
        <i class="{{ animal.html_icon }}"></i> Detalhes de {{ animal.name }}
    </h1>

    <!-- Animal Info Card -->
    <div class="details-card">
        <h2 class="section-title">Informações do Animal</h2>
        <p>
            <strong>Espécie:</strong> {{ animal.species_format() }}<br>
            <br><strong>Raça:</strong> {{ animal.breed }}<br>
            <br><strong>Sexo:</strong> {{ animal.gender_format() }}<br>
            <br><strong>Idade:</strong> {{ animal.age_months }} meses<br>
            <br><strong>Porte:</strong> {{ animal.size_format() }}<br>
            <br><strong>Status:</strong> {{ animal.status_format() }}<br>
            <br><strong>Cadastrado em:</strong> {{ animal.timestamp.strftime("%d/%m/%Y %H:%M") }}<br>
            <br>{{ animal.extra_info() | safe }}<br>
            <br><strong>Temperamento:</strong> <i>{{ animal.temperament_format() }}</i>
        </p>

    </div>

    <!-- Actions -->
    <div class="details-actions">

        <div class="details-buttons-retuned">
            {% if animal.status.name == "RETURNED" %}
                <h2 class="section-title actions">
                    <i class="fa-solid fa-arrows-turn-to-dots"></i> Animal Devolvido
                </h2>
                <p>Informe o novo status do animal:</p>

                <a href="{{ url_for('change_animal_status', id=animal.id, status='AVAILABLE') }}" class="details-button">
                    <i class="fa-solid fa-shield-heart"></i> Disponível
                </a>

                <a href="{{ url_for('change_animal_status', id=animal.id, status='QUARANTINE') }}" class="details-button">
                    <i class="fa-solid fa-triangle-exclamation"></i> Quarentena
                </a>

                <a href="{{ url_for('change_animal_status', id=animal.id, status='UNADOPTABLE') }}" class="details-button danger">
                    <i class="fa-solid fa-ban"></i> Indisponível
                </a>

            {% elif animal.status.name == "QUARANTINE" %}
            <h2 class="section-title actions">
                <i class="fa-solid fa-triangle-exclamation"></i> Animal em Quarentena
            </h2>
            <p>Informe o novo status do animal:</p>

                <a href="{{ url_for('change_animal_status', id=animal.id, status='AVAILABLE') }}" class="details-button">
                    <i class="fa-solid fa-shield-heart"></i> Disponível
                </a>

                <a href="{{ url_for('change_animal_status', id=animal.id, status='UNADOPTABLE') }}" class="details-button danger">
                    <i class="fa-solid fa-ban"></i> Indisponível
                </a>
            
            {% endif %}
        </div>

        <h2 class="section-title actions"><i class="fa-solid fa-gears"></i> Ações</h2>

        <div class="details-buttons-top">

            <a href="{{ url_for('edit_animal', animal_id=animal.id) }}" class="details-button">
                <i class="fa-solid fa-pen"></i> Editar Informações
            </a>

            {% if animal.status.name == "AVAILABLE" or animal.status.name == "RESERVED"  %}
                <a href="{{ url_for('adoption_reservation', animal_id=animal.id) }}" class="details-button">
                    <i class="fa-solid fa-heart-circle-plus"></i> Reservar Adoção
                </a>

            {% elif animal.status.name == "ADOPTED" %}
                <a href="{{ url_for('adoption_return_registration', animal_id=animal.id) }}" class="details-button danger">
                    <i class="fa-solid fa-arrows-turn-to-dots"></i> Registrar Devolução
                </a>
                
            {% endif %}
        </div>
        
        <div class="details-buttons-bottom">
            {% if animal.is_vaccineable %}
                <a href="{{ url_for('vaccine_registration', animal_id=animal.id) }}" class="details-button outline">
                    <i class="fa-solid fa-syringe"></i> Registrar Vacina
                </a>
            {% endif %}

            {% if animal.is_trainable %}
                <a href="{{ url_for('training_registration', animal_id=animal.id) }}" class="details-button outline">
                    <i class="fa-solid fa-dumbbell"></i> Registrar Treinamento
                </a>
            {% endif %}
        </div>

        <div class="details-buttons-bottom">
            <a href="{{ url_for('animal_timeline', animal_id=animal.id) }}" class="details-button outline">
                <i class="fa-solid fa-hourglass-half"></i> Ver Histórico de Eventos
            </a>
        </div>

    </div>

</div>
{% endblock %}