{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Detalhes do Animal - {{ animal.name }}</title>
{% endblock %}

{% block body %}
<div class="details-container">

    <!-- Title -->
    <h1 class="details-title">
        <i class="{{ animal.html_icon }}"></i> Detalhes de {{ animal.name }}
    </h1>

    <!-- Animal Info Card -->
    <div class="details-card">
        <h2 class="section-title">Informações do Animal</h2>
        <pre>{{ animal }}</pre>
    </div>

    <!-- Actions -->
    <div class="details-actions">

        <div class="details-buttons-top">
            <a href="" class="details-button">
                <i class="fa-solid fa-pen"></i> Editar Informações
            </a>

            {% if animal.status.name == "AVAILABLE" or animal.status.name == "RESERVED"  %}
                <a href="{{ url_for('adoption_reservation', animal_id=animal.id) }}" class="details-button">
                    <i class="fa-solid fa-heart-circle-plus"></i> Reservar Adoção
                </a>
            {% elif animal.status.name == "ADOPTED" %}
                <a href="" class="details-button danger">
                    <i class="fa-solid fa-arrows-turn-to-dots"></i> Registrar Devolução
                </a>
            {% endif %}
        </div>
        
        <div class="details-buttons-bottom">
            {% if animal.is_vaccineable %}
                <a href="{{ url_for('vaccine_registration', animal_id=animal.id) }}" class="details-button outline">
                    <i class="fa-solid fa-syringe"></i> Registrar Vacina
                </a>
            {% endif %}

            {% if animal.is_trainable %}
                <a href="{{ url_for('training_registration', animal_id=animal.id) }}" class="details-button outline">
                    <i class="fa-solid fa-bone"></i> Registrar Treinamento
                </a>
            {% endif %}
        </div>

    </div>

</div>
{% endblock %}