{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Sistema de Adoção de Animais</title>
{% endblock %}

{% block body %}
<div class="home-container">

    <h1 class="home-title"><i class="fa-solid fa-shield-dog"></i> Sistema de Adoção de Animais</h1>

    <p class="home-subtitle">
        Página inicial do sistema. Utilize o menu abaixo para acessar as funcionalidades disponíveis.
    </p>

    <div class="card-grid">

        <!-- Row 1 -->
        <div class="home-card">
            <h3><i class="fa-solid fa-bone"></i> Cadastrar Animal</h3>
            <p>Adicione um novo animal ao sistema para adoção.</p>
            <a href="{{ url_for('animal_registration') }}" class="home-button">Cadastrar</a>
        </div>

        <div class="home-card">
            <h3><i class="fa-solid fa-paw"></i> Animais Cadastrados</h3>
            <p>Veja todos os animais disponíveis para adoção.</p>
            <a href="{{ url_for('animals_list') }}" class="home-button">Ver Lista</a>
        </div>

        <!-- Row 2 -->
        <div class="home-card">
            <h3><i class="fa-solid fa-user-plus"></i> Cadastrar Adotante</h3>
            <p>Registre um novo adotante interessado em adotar.</p>
            <a href="{{ url_for('adopter_registration') }}" class="home-button">Cadastrar</a>
        </div>

        <div class="home-card">
            <h3><i class="fa-solid fa-users"></i> Adotantes Cadastrados</h3>
            <p>Veja todos os adotantes registrados.</p>
            <a href="{{ url_for('adopters_list') }}" class="home-button">Ver Lista</a>
        </div>

        <!-- Row 3 -->
        <div class="home-card">
            <h3><i class="fa-solid fa-calendar-plus"></i> Cadastrar Reserva</h3>
            <p>Vincule um adontante a um animal.</p>
            <a href="{{ url_for('adoption_reservation') }}" class="home-button">Cadastrar</a>
        </div>

        <div class="home-card">
            <h3><i class="fa-solid fa-calendar-check"></i> Reservas Ativas</h3>
            <p>Veja as reservas em andamento.</p>
            <a href="{{ url_for('adoption_reservation_list') }}" class="home-button">Ver Lista</a>
        </div>

        <!-- Row 4 -->
        <div class="home-card">
            <h3><i class="fa-solid fa-arrows-rotate"></i> Adoções & Devoluções </h3>
            <p>Veja todas as adoções e devoluções registradas.</p>
            <a href="{{ url_for('adoptions_list') }}" class="home-button">Ver Lista</a>
        </div>

        <div class="home-card">
            <h3><i class="fa-brands fa-github"></i> Wiki GitHub </h3>
            <p>Ir para a Wiki do GitHub deste projeto.</p>
            <a href="" class="home-button">Ver Lista</a>
        </div>

    </div>
</div>
{% endblock %}