<div class="topbar">

    <!-- Left -->
    <div class="topbar-left">
        <button class="topbar-icon" onclick="history.back()" title="Voltar">
            <i class="fa-solid fa-arrow-left"></i>
        </button>

        <a href="{{ url_for('homepage') }}" class="topbar-icon" title="Página Inicial">
            <i class="fa-solid fa-house"></i>
        </a>
    </div>

    <!-- Right -->
    <div class="topbar-right">
        <a href="" class="topbar-icon" title="Configurações">
            <i class="fa-solid fa-gear"></i>
        </a>
    </div>

</div>