{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>Registrar Vacina</title>
{% endblock %}

{% block body %}
<div class="details-container">

    <h1 class="details-title">Registrar Vacina</h1>

    <div class="details-card">
        <h2 class="section-title">Animal</h2>
        <p>
            {{ animal.name }} - {{ animal.species_format() }} - {{ animal.breed }}
        </p>
    </div>

    <form action="{{ url_for('save_vaccine', animal_id=animal.id) }}" method="POST" class="form details-card">

        <h2 class="section-title">Informações da Vacina</h2>

        <label for="vaccine_name">Nome da Vacina:</label>
        <input type="text" id="vaccine_name" name="vaccine_name" required>

        <label for="vaccine_date">Data da Aplicação:</label>
        <input type="date" id="vaccine_date" name="vaccine_date" required>

        <label for="veterinarian">Veterinário Responsável:</label>
        <input type="text" id="veterinarian" name="veterinarian" placeholder="Opcional">

        <button type="submit" class="details-button" style="margin-top: 20px;">
            <i class="fa-solid fa-syringe"></i> Confirmar Registro
        </button>
    </form>

</div>
{% endblock %}